.zig-cache/
zig-out/
*.o
tmp
.zxc
node_modules/

/packages/zray/app/dist/

/packages/website/dist/
/packages/website/.vinext/
/packages/website/.cloudflare/
/packages/website/.next/
/packages/website/next-env.d.ts
