node_modules/
.zig-cache/
zig-out/
.zxc/
tmp/
pnpm-lock.yaml

**/*.zig
**/*.zon
**/*.zx
**/*.rx

**/*.ejs
__shadcn__

packages/zray/app/dist/

/packages/website/dist/
/packages/website/.vinext/
/packages/website/.cloudflare/
/packages/website/.next/
/packages/website/next-env.d.ts

/packages/test/upstream/wpt/
